/* stylelint-disable order/properties-alphabetical-order */
.App {
  text-align: center;
}

.header {
  color: blue;
  text-align: center;
}

.subTitle {
  color: rgb(7, 7, 7);
  text-align: center;
}

